**/__pycache__/**
**/.vscode/*

# Archivos de datos
*.pdf
*.PDF
*.md
!README.md
!.github/**/*.md

# Logs de SLURM
*.out
*.err

qa_output/
merged_output/
# Datos del pipeline de embeddings
input/
output/
cuadernillos-y-demas/
qa_embeddings_output/
slurm/logs/
